<!DOCTYPE html>
<html lang="en">
	<head>
		<title>EJS parer test</title>
	</head>
	<body>
		<h1>EJS parer test</h1>

		<!-- tags -->
		<p><% foo %></p>
		<p><%_ foo %></p>
		<p><%= foo %></p>
		<p><%- foo %></p>
		<p><%# foo %></p>
		<p><%% foo %></p>
		<p><% foo -%></p>
		<p><% foo _%></p>
	</body>
</html>
